extends ../layouts/commonLayout.pug

block navbar
	form(action = "/users/search" method = "get")
		div(class ="form-group d-flex")
			input(name = "q" class="form-control mr-2" type= "text")
			button.btn.btn-primary search
	table.table
		tr
			th Avatar
			th Name
			th Phone
			th age
			th action
		each user in Users
			tr
				td
					img(src= user.avatar width="64")
				td= user.name
				td= user.phone
				td= user.age
				td 
					a(href= "/users/"+user.id) ViewDetail