extends ../layouts/commonLayout.pug

block navbar 
	table.table
		tr
			th Name
			th Phone
			th age
			th action
		each user in Users
			tr
				td= user.name
				td= user.phone
				td= user.age
				td 
					a(href= "/users/"+user.id) ViewDetail