extends ../layouts/commonLayout.pug

block navbar
	if Errors
		each error in Errors
			.alert.alert-danger= error
	form(action = "/users/create" method ="post" enctype="multipart/form-data")
		.form-group
			label Name
			input(name="name" type= "text" class="form-control" value = values ? values.name : "")
			br
			label Age
			input(name="age" type= "text" class="form-control" value = values ? values.age : "")
			br
			label Phone
			input(name="phone" type= "text" class="form-control" value = values ? values.phone : "")
			br
			label Avatar
			input(name="Avatar" type= "file" class="form-control-file" )
			br
			button.btn.btn-primary Create